<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% extends 'base.html'%}
        {% load static %}
        {% block content %}
        <section class="bg-white dark:bg-gray-900">
            <div class="container px-6 py-10 mx-auto">
                <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">From the blog</h1>
        
                <div class="mt-8 lg:-mx-6 lg:flex lg:items-center">
                    <img class="object-cover w-full lg:mx-6 lg:w-1/2 rounded-xl h-72 lg:h-96"  src="{{ cocktail.image }}">

                    <div class="mt-6 lg:w-1/2 lg:mt-0 lg:mx-6 ">
                        <h3 class="card-title text-center ">{{ cocktail.drinkName }}</h3>
                        <h1 class="my-3">Cocktail Recipe</h1>
                        <p class="text-sm text-blue-500 uppercase">{{cocktail.category}}</p>
        
                        <p class="text-sm text-blue-500 uppercase">{{cocktail.alcoholic}}</p>

                        <ul>
                            <li>{{cocktail.measure1}} {cocktail.ingredient1}</li>
                            <li>{{cocktail.measure2}} {cocktail.ingredient2}</li>
                            <li>{{cocktail.measure3}} {cocktail.ingredient3}</li>
                            <li>{{cocktail.measure4}} {cocktail.ingredient4}</li>
                            <li>{{cocktail.measure5}} {cocktail.ingredient5}</li>
                            <li>{{cocktail.measure6}} {cocktail.ingredient6}</li>
                            <li>{{cocktail.measure7}} {cocktail.ingredient7}</li>
                            <li>{{cocktail.measure8}} {cocktail.ingredient8}</li>
                            <li>{{cocktail.measure9}} {cocktail.ingredient9}</li>
                            <li>{{cocktail.measure10}} {cocktail.ingredient10}</li>
                            <li>{{cocktail.measure11}} {cocktail.ingredient11}</li>
                            <li>{{cocktail.measure12}} {cocktail.ingredient12}</li>
                            <li>{{cocktail.measure13}} {cocktail.ingredient13}</li>
                            <li>{{cocktail.measure14}} {cocktail.ingredient14}</li>
                            <li>{{cocktail.measure15}} {cocktail.ingredient15}</li>
                        </ul>
                        <p class="mt-3 text-sm text-gray-500 dark:text-gray-300 md:text-sm">
                           {{cocktail.instructions}
                        </p>                        
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
    </body>
</html>